GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

# Optional: GH Token for higher GitHub API rate limits
GH_TOKEN=

# Optional: Better backtraces for Rust code
RUST_BACKTRACE=1